@using System.Net;
@inject ExtensionClient Client
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IMessageService _message

@code {
    [CascadingParameter]
    public IEnumerable<ExtensionPackage>? Packages { get; set; }

    string SizeSmall = "small";
    static RenderFragment download =@<DownloadButton Type="@ButtonType.Primary" Icon="@IconType.Outline.Download" Url="/download/">Download</DownloadButton>;
    static RenderFragment delete =@<DownloadButton Type="@ButtonType.Primary" Icon="@IconType.Outline.Delete" Url="/delete" />;
    
    public RenderFragment[] actions = new[] { download };
    void NotImplemented()
    {
        _message.Error("Not yet implemented");
    }
    public RenderFragment[] GetValidActions()
    {
        RenderFragment download =@<DownloadButton Type="@ButtonType.Primary" Icon="@IconType.Outline.Download" Url="/download/">Download</DownloadButton>;
        RenderFragment delete =@<Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Delete" OnClick="@NotImplemented"/>;
        
        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.IsInRole("Admins"))
        {
            return new RenderFragment[] { download, delete };
        }
        else
        {
            return new RenderFragment[] { download };
        }
    }
}

@if (Packages is null)
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <Skeleton Avatar="true" ParagraphRows="4" Active="true"></Skeleton>
    </div>
}
else
{
    <AntList TItem="ExtensionPackage" DataSource="@Packages">
        <ListItem Actions="@GetValidActions()">
            <ListItemMeta>
                <DescriptionTemplate>
                    @context.Extensions[0].Description
                </DescriptionTemplate>
                <AvatarTemplate>
                    <Avatar Shape="@AvatarShape.Square" Size="64" Src="@context.Extensions[0].PackageIconPath" />
                </AvatarTemplate>
                <TitleTemplate>
                    <Space Direction="DirectionVHType.Vertical" Size="@SizeSmall">
                        <Space Align="center" Style="gap:8px">
                            <NavLink href="@($"/details/{context.Extensions[0].Identifier}/{context.Extensions[0].Version}")">
                                @context.Extensions[0].DisplayName
                            </NavLink>
                            <Tag>@($"v{context.Version}")
                        </Tag>
                            </Space>
                        <Text Type="@TextElementType.Secondary">@context.Identifier</Text>
                    </Space>
                </TitleTemplate>
            </ListItemMeta>
        </ListItem>
    </AntList>
}